<div class="form-group mb-5" *ngIf="notes && notes.length > 0">
    <div class="border-bottom mb-3">
        <label class="font-weight-bold" for="notes">{{ 'case.notes' | translate }}</label>
        <button class="btn btn-sm btn primary" (click)="openNoteModal()" title="{{'case.add-note' | translate}}">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div id="notes" placeholder="Notes">
        <div *ngFor="let note of notes">
            <div class="mr-3">
                {{ note.date | date: 'dd.MM.yyyy' }}
                <span class="small text-muted">{{ 'common.note-created-by' | translate }}: {{ note.employee.firstName.substr(0,1)}}. {{ note.employee.lastName}}</span>
                <span *ngIf="mode === 'edit'" class="float-right">
                    <button class="btn btn-sm btn primary" (click)="openNoteModal(note.id)" title="{{'case.add-note' | translate}}">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-sm btn primary" (click)="invokeDeleteNote(note.id)" title="{{'case.add-note' | translate}}">
                        <i class="fa fa-times"></i>
                    </button>
                </span>
            </div>
            <div class="mb-3">{{ note.text }}</div>
        </div>
    </div>
</div>