<div class="wrapper">
  <div class="row top">
    <div class="col-lg-10 col-md-10 col-xs-10">
      <h1>
        {{ mode === 'new' ? ('new' | translate) : ('update' | translate) }}
        {{ 'client' | translate }}
      </h1>
    </div>
  </div>
  <div class="container">
    <form #f="ngForm">
      <!-- client first name -->
      <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2">
          <label>{{ 'firstName' | translate }}</label>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <input
            type="text"
            [(ngModel)]="client.firstName"
            #firstName="ngModel"
            name="firstName"
            id="firstName"
            required
          />
        </div>
      </div>

      <!-- client last name -->
      <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2">
          <label>{{ 'lastName' | translate }}</label>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <input type="text" [(ngModel)]="client.lastName" #lastName="ngModel" name="lastName" id="lastName" required />
        </div>
      </div>

      <!-- address -->
      <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2">
          <label>{{ 'address' | translate }}</label>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <input type="text" [(ngModel)]="client.address" #address="ngModel" name="address" id="address" required />
        </div>
      </div>

      <!-- phone -->
      <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2">
          <label>{{ 'phone' | translate }}</label>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <input type="text" [(ngModel)]="client.phone" #phone="ngModel" name="phone" id="phone" required />
        </div>
      </div>

      <!-- pin -->
      <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2">
          <label>{{ 'pin' | translate }}</label>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <input type="text" [(ngModel)]="client.pin" #pin="ngModel" name="pin" id="pin" required />
        </div>
      </div>

      <!-- buttons -->
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <button type="submit" class="btn btn-outline-dark" (click)="save()" [disabled]="!f.valid">
            {{ 'save' | translate }}
          </button>
          <!-- </div>
        <div class="col-lg-2 col-md-2 col-xs-2"> -->
          <button type="submit" class="btn btn-outline-dark" (click)="goToUrl()">{{ 'cancel' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
