<!-- <div class="wrapper">
  <div class="row top">
    <div class="col-lg-10 col-md-10 col-xs-10">
      <h1>{{ 'clients' | translate }}</h1>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-2">
      <button (click)="goToUrl('new')" class="btn btn-primary btn-md header-btn"><i class="fa fa-user-plus"></i></button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1 col-xs-1"><b>#</b></div>
    <div class="col-lg-2 col-xs-2">
      <b>{{ 'firstName' | translate }}</b>
    </div>
    <div class="col-lg-2 col-xs-2">
      <b>{{ 'lastName' | translate }}</b>
    </div>
    <div class="col-lg-2 col-xs-2">
      <b>{{ 'address' | translate }}</b>
    </div>
    <div class="col-lg-2 col-xs-2">
      <b>{{ 'phone' | translate }}</b>
    </div>
    <div class="col-lg-2 col-xs-2">
      <b>{{ 'pin' | translate }}</b>
    </div>
    <div class="col-lg-1 col-xs-1">
      <b>{{ 'action' | translate }}</b>
    </div>
  </div>
  <hr />
  <div class="row" *ngFor="let client of clients; index as i">
    <div class="col-lg-1 col-xs-1">{{ i + 1 }}</div>
    <div class="col-lg-2 col-xs-2">{{ client.firstName }}</div>
    <div class="col-lg-2 col-xs-2">{{ client.lastName }}</div>
    <div class="col-lg-2 col-xs-2">{{ client.address | translate }}</div>
    <div class="col-lg-2 col-xs-2">{{ client.phone | translate }}</div>
    <div class="col-lg-2 col-xs-2">{{ client.pin | translate }}</div>
    <div class="col-lg-1 col-xs-1">
      <a><i class="fa fa-edit" (click)="goToUrl(client.id)"></i></a>
      <a><i class="fa fa-times" (click)="invokeDelete(client.id)"></i></a>
    </div>
  </div>
</div>
<app-delete-modal [hidden]="!modalState"></app-delete-modal>
<ngx-spinner></ngx-spinner>
<simple-notifications></simple-notifications> -->

<div class="wrapper">
  <div class="row top">
    <div class="col-10 col-lg-4">
      <h3>{{ 'clients' | translate }}</h3>
    </div>
    <div class="col-9 col-lg-6">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="search"
          placeholder="{{ 'client.search' | translate }}"
          (ngModelChange)="searchClients()"
          [(ngModel)]="filter"
        />
      </div>
    </div>
    <div class="col-2 text-right pr-5">
      <button
        class=""
        (click)="goToUrl('new', 0)"
        class="btn btn-outline-primary header-btn"
        title="{{ 'client.add' | translate }}"
      >
        <i class="fas fa-folder-plus px-1"></i>
        {{ !(isMobileScreen$ | async) ? ('client.add' | translate) : '' }}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-6" *ngIf="clients && clients.length > 0">
      <div
        class="card my-2"
        *ngFor="let c of clients"
        (click)="setActiveClient(c.id)"
        [ngClass]="{ 'border-bold': c.id === selectedClientId }"
      >
        <div class="card-header">
          <!-- <span class="float-right">
            {{!(isMobileScreen$ | async)? ('client.delete' | translate) : ''}}
            <i class="fa fa-trash text-danger ml-2" (click)="invokeDeleteClient(c.id)"></i>
          </span> -->
          <h5 class="card-title">{{ c.firstName }} {{ c.lastName }}</h5>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title"> {{c.firstName}} {{c.lastName}}</h5> -->
          <i class="fa fa-phone mr-2"></i> {{ c.phone }}<br />
          <i class="fa fa-home mr-2"></i> {{ c.address }}

          <div class="card-footer mt-3" style="height: 50px">
            <span class="float-left">
              {{ !(isMobileScreen$ | async) ? ('client.delete' | translate) : '' }}
              <i class="fa fa-trash text-danger ml-2" (click)="invokeDeleteClient(c.id)"></i>
            </span>
            <span class="float-right">
              {{ !(isMobileScreen$ | async) ? ('client.edit' | translate) : '' }}
              <i class="fa fa-edit text-primary ml-2" (click)="goToUrl('clients/edit/', c.id)"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!clients || clients.length === 0">
      {{ 'common.no-data' | translate }}
    </div>

    <div class="col-6 border my-2">
      <h5 class="mt-3">{{ 'client.details' | translate }}</h5>
      <div *ngIf="selectedClient">
        <!-- {{activeClient.firstName}} {{activeClient.lastName}} -->
        <div class="card-title">{{ selectedClient.firstName }} {{ selectedClient.lastName }}</div>
        <i class="fa fa-phone mr-2"></i> {{ selectedClient.phone }}<br />
        <i class="fa fa-home mr-2"></i> {{ selectedClient.address }}

        <h5 class="mt-4">{{ 'client.cases' | translate }}</h5>
        <div *ngFor="let cc of selectedClient.cases">
          <a (click)="goToUrl('cases/preview', cc.id)">
            <i class="fa fa-folder mr-2"></i>
            {{ cc.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-delete-modal [hidden]="!modalState"></app-delete-modal>
<ngx-spinner></ngx-spinner>
<simple-notifications></simple-notifications>
