<div class="wrapper">
  <div class="row">
    <div class="col-9 col-lg-3">
      <h3 class="ml-5">{{ 'employees' | translate }}</h3>
    </div>
    <div class="col-1 text-right">
      <button
        (click)="goToUrl('new', 0)"
        class="btn btn-outline-secondary header-btn"
        title="{{ 'employee.add' | translate }}"
      >
        <i class="fas fa-folder-plus px-1"></i>
      </button>
    </div>
    <div class="col-12 col-lg-7">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="search"
          placeholder="{{ 'common.search' | translate }}"
          [(ngModel)]="searchValue"
          (ngModelChange)="searchEmployees()"
        />
      </div>
    </div>
  </div>

  <div class="col-12" *ngIf="filteredEmployees && filteredEmployees.length > 0">
    <div
      class="card cursor-pointer my-2"
      *ngFor="let employee of filteredEmployees"
      (click)="setActiveEmployee(employee)"
      [ngClass]="{ 'border-bold': employee.id === selectedEmployeeId }"
    >
      <div class="card-header">
        <h5 class="card-title">{{ employee.firstName }} {{ employee.lastName }}</h5>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h5 class="mt-3 border-bottom">{{ 'employee.details' | translate }}</h5>
            <i class="fa fa-phone mr-2"></i> {{ employee.phone }}<br />
            <i class="fa fa-home mr-2"></i> {{ employee.address }}
          </div>
          <div class="col-12 col-lg-6" *ngIf="selectedEmployee && selectedEmployee.id === employee.id">
            <h5 class="mt-3 border-bottom">{{ 'employee.cases' | translate }}</h5>
            <div *ngFor="let cc of selectedEmployee.cases">
              <a (click)="goToUrl('preview', cc.id)">
                <i class="fa fa-folder mr-2"></i>
                {{ cc.subject }}
              </a>
            </div>
          </div>
        </div>

        <div class="card-footer mt-3" style="height: 50px">
          <span class="float-left cursor-pointer" (click)="invokeDeleteEmployee(employee.id)">
            <i class="fa fa-trash btn btn-outline-secondary ml-2" title="{{ 'employee.delete' | translate }}"></i>
          </span>
          <span class="float-right cursor-pointer" (click)="goToUrl('edit', employee.id)">
            <i class="fa fa-edit btn btn-outline-secondary ml-2" title="{{ 'employee.edit' | translate }}"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="" *ngIf="!employees || employees.length === 0">
    {{ 'common.no-data' | translate }}
  </div>
</div>

<app-delete-modal [hidden]="!modalState"></app-delete-modal>
<ngx-spinner></ngx-spinner>
<simple-notifications></simple-notifications>
