<div class="border">side-menu</div>

<!-- Sidebar Holder -->
<!-- <nav id="sidebar" [ngClass]="menuHidden ? 'active' : ''">
  <div class="sidebar-header">
      <h3>Bootstrap Sideba </h3>
  </div>

  <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
              <li><a href="#">Home 1</a></li>
              <li><a href="#">Home 2</a></li>
              <li><a href="#">Home 3</a></li>
          </ul>
      </li>
      <li>
          <a href="#">About</a>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li><a href="#">Page 1</a></li>
              <li><a href="#">Page 2</a></li>
              <li><a href="#">Page 3</a></li>
          </ul>
      </li>
      <li>
          <a href="#">Portfolio</a>
      </li>
      <li>
          <a href="#">Contact</a>
      </li>
  </ul> -->

<!-- <div  class="container-fluid b">

    <div  class="navbar-header mt-4" *ngIf="!toggleMenu">
      <button  class="btn btn-info navbar-btn" id="sidebarCollapse" type="button">
        <i  class="fa fa-align-justify"></i>

      </button>
    </div>

    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul  class="nav navbar-nav navbar-right">
        <li ><a  href="#">Page</a></li>
        <li ><a  href="#">Page</a></li>
        <li ><a  href="#">Page</a></li>
        <li ><a  href="#">Page</a></li>
      </ul>

      <router-outlet></router-outlet>
    </div> 
  </div>-->

<!-- <ul class="list-unstyled CTAs">
      <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
      <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
  </ul> -->
<!-- </nav> -->

<!-- <div class="nav">
  <li class="block">
    <a class="nav-link active" routerLink="/home" aria-selected="true"><i class="fa fa-home"></i> <span class="left-spacing"> {{ 'home' | translate: param }}</span></a>
  </li>
  <li class="block">
    <a class="nav-link" routerLink="/cases" aria-selected="false"><i class="fa fa-users"></i> <span class="left-spacing"> {{ 'cases' | translate: param }}</span></a>
  </li>
  <li class="block">
    <a class="nav-link" routerLink="/employees" aria-selected="false"><i class="fa fa-user"></i> <span class="left-spacing"> {{ 'employees' | translate: param }}</span></a>
  </li>
  <li class="block">
    <a class="nav-link" routerLink="/clients" aria-selected="false"><i class="fa fa-folder-open"></i> <span class="left-spacing"> {{ 'clients' | translate: param }}</span></a>
  </li>
  <li>
    {{day | date: 'dd.'}} {{monthName | translate: param}} {{day | date: 'yyyy.'}}<br>{{time | date: 'HH:mm:ss'}}
  </li>
</div> -->

<!-- <div class="sidebar">
  <button class="openbtn" (click)="openNav()">☰ Toggle Sidebar</button>
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div> -->
