<div class="wrapper">
  <div class="row top">
    <div class="col-10 col-lg-4">
      <h3>{{ 'cases' | translate }}</h3>
    </div>
    <div class="col-9 col-lg-6">
      <div class="form-group">
        <input type="text" class="form-control" id="search" placeholder="{{ 'case.search' | translate }}" (ngModelChange)="searchCases()" [(ngModel)]="filter" />
      </div>
    </div>
    <div class="col-2 text-right pr-5">
      <button class="" (click)="goToUrl('new', 0)" class="btn btn-outline-primary header-btn" title="{{ 'case.add-new' | translate }}">
        <i class="fas fa-folder-plus px-1"></i>
        <!-- {{ !(isMobileScreen$ | async) ? ('case.add-new' | translate) : '' }} -->
      </button>
    </div>
  </div>

  <div class="row" *ngIf="cases && cases.length > 0">
    <div class="col-12">
      <!-- [ngClass]="{'col-8': !(isMobileScreen$ | async), 'col-12': (isMobileScreen$ | async)}" -->
      <div class="card my-3 pb-3" *ngFor="let case of cases; let i = index" (click)="setActiveCase(case.id)" [ngClass]="{ 'border-bold': case.id === selectedCaseId }">
        <div class="card-header">
          <div class="row my-3">
            <div class="col-10">
              <h5>{{ case.council.name }} {{ case.registrationMark.name }} {{ case.caseNumber }}/{{ case.year }}</h5>
              <h6>{{ case.court.name }}</h6>
              <h6>{{ case.status.name }}</h6>
            </div>
            <div class="col-2">
              <div class="text-center">
                <button class="btn btn-link mx-auto" (click)="invokeDelete(case.id)" title="{{ 'case.delete' | translate }}">
                  <i class="fa fa-times"></i>
                </button>
              </div>
              <div class="text-center">
                <button class="btn btn-link mx-auto" (click)="goToUrl('edit', case.id)" title="{{ 'case.edit' | translate }}">
                  <i class="fa fa-edit"></i>
                </button>
              </div>
            </div>

          </div>
        </div>

        <!-- case title -->
        <div class="card-body my-0 py-0">
          <h6 class="my-3">{{ case.caseTitle }}</h6>
        </div>
        <div class="px-3 d-none" *ngIf="selectedCase" [ngClass]="{ 'd-block': selectedCase.id === case.id, 'd-none': selectedCase.id !== case.id }">
          <hr />
          <h6>
            {{ 'case.subject' | translate }}: <span class="normal-text">{{ selectedCase.subject }}</span>
          </h6>
          <h6>
            {{ 'case.value' | translate }}: <span class="normal-text">{{ selectedCase.caseValue }}</span>
          </h6>

          <!-- parties to the dispute -->

          <h6 class="mt-3">
            {{ 'case.prosecutor' | translate }}:
            <span class="normal-text">
              {{ selectedCase.prosecutor.firstName }} {{ selectedCase.prosecutor.lastName }}:
              {{ selectedCase.prosecutor.address }}</span>
          </h6>
          <h6>
            {{ 'case.respondent' | translate }}:
            <span class="normal-text">
              {{ selectedCase.respondent.firstName }} {{ selectedCase.respondent.lastName }}:
              {{ selectedCase.respondent.address }}</span>
          </h6>

          <!-- subject -->
          <h6 class="my-3">
            {{ 'case.subject' | translate }}: <span class="normal-text">{{ selectedCase.subject }}</span>
          </h6>

          <div class="row">
            <!-- files  -->
            <div class="col-12 col-lg-6">
              <app-file-list class="mt-3" [items]="selectedCase.files" [title]="'files'" [disabled]="true" (changeOccured)="getCases()"></app-file-list>
            </div>

            <!-- hearing-minutes -->
            <div class="col-12 col-lg-6">
              <app-file-list [items]="selectedCase.hearingMinutes" [title]="'hearing-minutes'" [disabled]="true" (changeOccured)="getCases()"></app-file-list>
            </div>

            <!-- evidences -->
            <div class="col-12 col-lg-6">
              <app-file-list [items]="selectedCase.evidences" [title]="'evidences'" [disabled]="true"></app-file-list>
            </div>

            <!-- decisions -->
            <div class="col-12 col-lg-6">
              <app-file-list [items]="selectedCase.decisions" [title]="'decisions'" [disabled]="true" (changeOccured)="getCases()"></app-file-list>

              <!-- other -->
              <app-file-list [items]="selectedCase.other" [title]="'other'" [disabled]="true" (changeOccured)="getCases()"></app-file-list>
            </div>
          </div>
        </div>

        <!-- case history -->
        <app-case-history *ngIf="selectedCase && case.id === selectedCaseId" [caseHistory]="selectedCase.caseHistory" [title]="'case.history'" [mode]="'preview'" [disabled]="true"></app-case-history>

        <!-- case movement -->
        <app-case-movements *ngIf="selectedCase && case.id === selectedCaseId" [caseMovements]="case.caseMovements" (relatedCaseId)="openRelatedCase($event)"></app-case-movements>


        <!-- troskovnik -->
        <app-payments *ngIf="selectedCase && case.id === selectedCaseId" [payments]="case.payments"></app-payments>

      </div>
    </div>

    <!-- case history -->
    <!-- <div [ngClass]="{'col-4': !(isMobileScreen$ | async), 'col-12': (isMobileScreen$ | async)}">
      <div class="card my-3" *ngIf="selectedCase">
        <app-case-history [caseHistory]="selectedCase.caseHistory" [title]="'case.history'" [disabled]="true"></app-case-history> -->

    <!-- case movement -->
    <!-- <div class="form-group m-3 mb-5 ">
          <div class="border-bottom mb-3">
            <label class="font-weight-bold" for="other">{{ 'case.history-movement' | translate }}</label>
            <hr>
            <ul class="list-unstyled">
              <li *ngFor="let cm of selectedCase.caseMovements" (click)="openRelatedCase()" class="list-link">
                {{cm.date | date: 'dd.MM.yyyy'}} - {{cm.title}}
              </li>
            </ul>
          </div>
        </div> 
      </div>-->
  </div>

  <div *ngIf="!(cases && cases.length > 0)">
    {{ 'common.no-data' | translate }}
  </div>
</div>

<app-delete-modal [hidden]="!modalState"></app-delete-modal>

<ngx-spinner></ngx-spinner>
<simple-notifications></simple-notifications>