<div class="modal-header">
  {{ title }}
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true"><i class="fas fa-times"></i></span>
  </button>
</div>
<div class="modal-body">
  {{ selectedImage.fileName }} {{ selectedImage.data }}
  <!-- <iframe src="selectedImage.data" width="500" height="500"></iframe> -->
  <!-- <ngx-extended-pdf-viewer [src]="pdfSource" useBrowserLocale="true">
  </ngx-extended-pdf-viewer> -->
  <!-- <div class="pdf-container">
    <pdf-viewer [src]="src" [original-size]="false"></pdf-viewer>
  </div> -->
  <!-- <pdf-viewer [src]="selectedImage.data" [render-text]="true" style="display: block;"></pdf-viewer> -->
  <!-- <embed src="assets/files/plan-otplate-igor.pdf" width="800px" height="2100px" /> -->

  <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="!isLoading">
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let item of images">
        <img class="preview-full-image" [src]="_DomSanitizationService.bypassSecurityTrustUrl(fullFile.data)" alt="{{ fullFile.fileName }}" />
      </div>
    </div>
    <a class="carousel-control-prev" role="button" data-slide="prev" (click)="prev()">
      <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-angle-left"></i></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" role="button" data-slide="next" (click)="next()">
      <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-angle-right"></i></span>
      <span class="sr-only"></span>
    </a>
  </div> -->
</div>
<div class="loading" *ngIf="isLoading"><i class="fas fa-circle-notch fa-spin"></i></div>
