@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.menu-top {
  background: $menu-color;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  color: white;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
