<div class="wrapper">
  <!-- [ngClass]="{'bg-light-orange': mode === 'edit'}" 
    <h1>
    {{ mode === 'new' ? ('new' | translate) : ('update' | translate) }} 
    {{mode | translate | uppercase}} {{ 'case' | translate | uppercase }}
  </h1>-->

  <div>
    <!-- *ngIf="!disabled" -->
    <form [formGroup]="form">
      <div class="row mt-4 mb-3" *ngIf="mode === 'edit'">
        <!-- council -->
        <div class="col-6 col-lg-3">
          <app-dropdown [items]="councils" [selectedItemId]="case.council.id" [label]="'case.council'" [readonly]="disabled" (changedItem)="onChangeCouncil($event)"></app-dropdown>
        </div>
        <!-- <div class="form-group col-6 col-lg-3">
          <label class="font-weight-bold" for="councilId">{{ 'case.council' | translate }}</label>
          <ng-select class="" [items]="councils" bindLabel="name" bindValue="id" formControlName="councilId" [readonly]="disabled">
          </ng-select>
          <small [hidden]="form.controls.councilId.valid || form.controls.councilId.untouched" class="text-danger" translate>
            {{ 'common.required-field' | translate }}
          </small>
        </div> -->

        <!-- regitrator -->
        <div class="form-group col-6 col-lg-3">
          <label class="font-weight-bold" for="">{{ 'case.registration-mark' | translate }}</label>
          <ng-select class="" [items]="registrationMarks" bindLabel="name" bindValue="id" formControlName="registrationMarkId" [readonly]="disabled">
          </ng-select>
          <small [hidden]="form.controls.registrationMarkId.valid || form.controls.registrationMarkId.untouched" class="text-danger" translate>
            {{ 'common.required-field' | translate }}
          </small>
        </div>

        <!-- case number -->
        <div class="form-group col-6 col-lg-3">
          <label class="font-weight-bold" for="caseNumber">{{ 'case.number' | translate }}</label>
          <input type="text" class="form-control" id="caseNumber" placeholder="{{ 'case.number' | translate }}" formControlName="caseNumber" [readOnly]="disabled" />
        </div>

        <!-- year -->
        <div class="form-group col-6 col-lg-3">
          <label class="font-weight-bold" for="year">{{ 'case.year' | translate }}</label>
          <input type="text" class="form-control" id="year" placeholder="{{ 'case.year' | translate }}" formControlName="year" [readOnly]="disabled" />
        </div>
      </div>
      <div class="row mt-4 mb-3" *ngIf="mode === 'preview'">
        {{ 'case.history-movement' | translate }}:
        <button *ngFor="let state of case.stateChanges" class="mx-3" (click)="switchCase(state.state)" [ngClass]="{ 'btn btn-primary': !state.active, 'btn btn-danger': state.active }">
          {{ state.state }}
        </button>
      </div>

      <!-- court Name -->
      <app-dropdown [items]="courtNames" [selectedItemId]="case.id" [label]="'case.court-name'" [readonly]="disabled" (changedItem)="onChangeCourt($event)"></app-dropdown>
      <!-- formControlName="courtId" -->
      <!-- <div class="form-group">
        <label class="font-weight-bold" for="courtId">{{ 'case.court-name' | translate }}</label>
        <ng-select [items]="courtNames" bindLabel="name" bindValue="id" formControlName="courtId" [readonly]="disabled">
        </ng-select>
        <small [hidden]="form.controls.courtId.valid || form.controls.courtId.untouched" class="text-danger" translate>
          {{ 'common.required-field' | translate }}
        </small>
      </div> -->

      <!-- case name -->
      <div class="row">
        <div class="form-group col-6 col-lg-9">
          <label class="font-weight-bold" for="caseTitle">{{ 'case.name' | translate }}</label>
          <input type="text" class="form-control" id="caseTitle" placeholder="Case Title" formControlName="caseTitle" [readOnly]="disabled" />
        </div>
        <!-- internal mark -->
        <div class="form-group col-6 col-lg-3">
          <label class="font-weight-bold" for="caseNumber">{{ 'case.internal-mark' | translate }}</label>
          <input type="text" class="form-control" id="internalMark" placeholder="{{ 'case.internal-mark' | translate }}" formControlName="internalMark" readOnly />
        </div>
      </div>

      <!-- subject -->
      <div class="form-group">
        <label class="font-weight-bold" for="subject">{{ 'case.subject' | translate }}</label>
        <input type="text" class="form-control" id="subject" placeholder="Case Title" formControlName="subject" [readOnly]="disabled" />
      </div>

      <!-- prosecutor -->
      <!-- edit -->
      <div class="form-group" *ngIf="mode !== 'new'">
        <label class="font-weight-bold" for="prosecutor">
          <!-- [ngClass]="{'text-success': case.clientId === case.prosecutor.id, 'text-danger': case.clientId !== case.prosecutor.id}" -->
          {{ 'case.prosecutor' | translate }}
        </label>
        <div class="d-flex mb-2">
          <input type="text" class="form-control col-8" id="prosecutorName" placeholder="{{ 'case.prosecutor-name' | translate }}" formControlName="prosecutorName" readonly />
          <button class="btn btn-primary col-2 p-0 ml-2" (click)="editParty('prosecutor')" [disabled]="disabled">
            <i class="fa fa-edit"></i>&nbsp;
            {{ !(isMobileScreen$ | async) ? ('case.edit-prosecutor' | translate) : '' }}
          </button>
        </div>
        <input type="text" class="form-control" id="prosecutorAddress" placeholder="{{ 'case.prosecutor-address' | translate }}" formControlName="prosecutorAddress" readonly />
      </div>
      <!-- add -->
      <div class="form-group" *ngIf="mode === 'new'">
        <label class="font-weight-bold" for="prosecutor">
          {{ 'case.prosecutor' | translate }}
          <button class="btn btn-sm btn-primary ml-2" *ngIf="!prosecutorAdded" (click)="setClient(case.respondent.id)">
            {{ 'case.set-as-client' | translate }}
          </button>
          <span *ngIf="prosecutorAdded" class="text-danger"> *</span>
        </label>
        <div *ngIf="!prosecutorAdded">
          <button class="btn btn-primary" (click)="addParty('prosecutor')">
            <i class="fa fa-user-plus"></i>&nbsp;
            {{ !(isMobileScreen$ | async) ? ('case.add-prosecutor' | translate) : '' }}
          </button>
        </div>
        <div *ngIf="prosecutorAdded">
          <div class="d-flex mb-2">
            <input type="text" class="form-control col-8" id="prosecutorName" placeholder="{{ 'case.prosecutor-name' | translate }}" formControlName="prosecutorName" readonly />
            <button class="btn btn-primary col-2 p-0 ml-2" (click)="editParty('prosecutor')">
              <i class="fa fa-edit"></i>&nbsp;
              {{ !(isMobileScreen$ | async) ? ('case.edit-prosecutor' | translate) : '' }}
            </button>
          </div>
          <input type="text" class="form-control" id="prosecutorAddress" placeholder="{{ 'case.prosecutor-address' | translate }}" formControlName="prosecutorAddress" readonly />
        </div>
      </div>

      <!-- respondent -->
      <!-- edit -->
      <div class="form-group" *ngIf="mode !== 'new'">
        <label class="font-weight-bold" for="respondent">
          <!-- [ngClass]="{'text-success': case.clientId !== case.prosecutor.id, 'text-danger': case.clientId === case.prosecutor.id}" -->
          {{ 'case.respondent' | translate }}
          <button class="btn btn-sm btn-primary ml-2" *ngIf="!respondentAdded" (click)="setClient(case.respondent.id)">
            {{ 'case.set-as-client' | translate }}
          </button>
          <span *ngIf="respondentAdded" class="text-danger"> *</span>
        </label>
        <div class="d-flex mb-2">
          <input type="text" class="form-control col-8" id="respondentName" placeholder="{{ 'case.respondent-name' | translate }}" formControlName="respondentName" readonly />
          <button class="btn btn-primary col-2 p-0 ml-2" (click)="editParty('respondent')" [disabled]="disabled">
            <i class="fa fa-edit"></i>&nbsp;
            {{ !(isMobileScreen$ | async) ? ('case.edit-respondent' | translate) : '' }}
          </button>
        </div>
        <input type="text" class="form-control" id="respondentAddress" placeholder="{{ 'case.respondent-address' | translate }}" formControlName="respondentAddress" readonly />
      </div>
      <!-- add -->
      <div class="form-group" *ngIf="mode === 'new'">
        <label class="font-weight-bold" for="respondent">
          {{ 'case.respondent' | translate }}
          <button class="btn btn-sm btn-primary ml-2" *ngIf="!respondentAdded" (click)="setClient(case.respondent.id)">
            {{ 'case.set-as-client' | translate }}
          </button>
          <span *ngIf="respondentAdded" class="text-danger"> *</span>
        </label>

        <div *ngIf="!respondentAdded">
          <button class="btn btn-primary" (click)="addParty('respondent')">
            <i class="fa fa-user-plus"></i>&nbsp;
            {{ !(isMobileScreen$ | async) ? ('case.add-respondent' | translate) : '' }}
          </button>
        </div>
        <div *ngIf="respondentAdded">
          <div class="d-flex mb-2">
            <input type="text" class="form-control col-8" id="respondentName" placeholder="{{ 'case.respondent-name' | translate }}" formControlName="respondentName" readonly />
            <button class="btn btn-primary col-2 p-0 ml-2" (click)="editParty('respondent')">
              <i class="fa fa-edit"></i>&nbsp;
              {{ !(isMobileScreen$ | async) ? ('case.edit-respondent' | translate) : '' }}
            </button>
          </div>
          <input type="text" class="form-control" id="respondentAddress" placeholder="{{ 'case.respondent-address' | translate }}" formControlName="respondentAddress" readonly />
        </div>
      </div>

      <!-- notes -->
      <app-note-list [notes]="case.notes" [caseId]="case.id" [mode]="mode" (changeOccured)="changeDetected()"></app-note-list>


      <div *ngIf="mode !== 'new'">
        <!-- files -->
        <app-file-list [items]="case.decisions" [title]="'files'" [disabled]="disabled" [mode]="mode" (changeOccured)="changeDetected()"></app-file-list>

        <!-- evidences -->
        <app-file-list [items]="case.evidences" [title]="'evidences'" [disabled]="disabled" [mode]="mode" (changeOccured)="changeDetected()"></app-file-list>

        <!-- hearing Minutes -->
        <app-file-list [items]="case.hearingMinutes" [title]="'hearing-minutes'" [disabled]="disabled" [mode]="mode" (changeOccured)="changeDetected()"></app-file-list>

        <!-- expertises -->
        <app-file-list [items]="case.expertises" [title]="'expertises'" [disabled]="disabled" [mode]="mode" (changeOccured)="changeDetected()"></app-file-list>

        <!-- decisions -->
        <app-file-list [items]="case.decisions" [title]="'decisions'" [disabled]="disabled" [mode]="mode" (changeOccured)="changeDetected()"></app-file-list>

        <!-- other -->
        <app-file-list [items]="case.other" [title]="'other'" [disabled]="disabled" [mode]="mode" (changeOccured)="changeDetected()"></app-file-list>

        <!-- history -->
        <app-case-history [caseHistory]="case.caseHistory" [disabled]="disabled" [mode]="mode" [title]="'case.history'" (changeOccured)="changeDetected()"></app-case-history>
      </div>

      <!-- status -->
      <div class="form-group">
        <label class="font-weight-bold" for="statusId">{{ 'case.status' | translate }}</label>
        <ng-select [items]="statuses" bindLabel="name" bindValue="id" formControlName="statusId" [readonly]="disabled">
        </ng-select>
        <small [hidden]="form.controls.statusId.valid || form.controls.statusId.untouched" class="text-danger" translate>
          {{ 'common.required-field' | translate }}
        </small>
      </div>

      <!-- caseValue -->
      <div class="form-group">
        <label class="font-weight-bold" for="caseValue">{{ 'case.value' | translate }}</label>
        <input type="text" class="form-control" id="caseValue" placeholder="{{ 'case.value' | translate }}" formControlName="caseValue" [readOnly]="disabled" />
      </div>

      <!-- active -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="active" value="true" [checked]="case.active" />
        <label class="form-check-label font-weight-bold" for="">
          {{ 'case.active' | translate }}
        </label>
      </div>

      <hr />

      <!-- buttons -->
      <div class="row mt-3">
        <div class="col-md-offset-4 col-md-4">
          <button type="submit" class="btn btn-outline-dark" (click)="save()" [disabled]="form.invalid" *ngIf="!disabled">
            {{ 'common.save' | translate }}
          </button>
          <button type="submit" class="btn btn-outline-dark" (click)="goToUrl('cases')" *ngIf="!disabled">
            {{ 'common.cancel' | translate }}
          </button>
          <button type="submit" class="my-4" class="btn btn-outline-dark" (click)="goToUrl('cases')" *ngIf="disabled">
            {{ 'Go Back' | translate }}
          </button>
          <!-- <button (click)="printForm()">Print</button> -->
        </div>
      </div>
    </form>
  </div>
</div>

<ngx-spinner></ngx-spinner>
<simple-notifications></simple-notifications>
<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas nihil magnam esse dolores nobis asperiores, in veritatis adipisci minus! Praesentium mollitia, maiores, itaque harum est autem beatae maxime reiciendis possimus eos recusandae sunt molestiae fugiat, nisi voluptas quasi non cum animi vero. Nisi nulla necessitatibus magni officia ab amet? Rem quas corrupti, aliquam voluptatem illo voluptatibus ipsam quisquam fugit doloribus amet eligendi quos ab ratione nisi nobis corporis officia. Est, repudiandae aperiam similique commodi nesciunt, maiores perspiciatis tenetur nisi laborum praesentium quam quae ratione inventore facere nam ducimus culpa eos sequi. Iusto dolorem corrupti, natus officiis dolor voluptates et repellendus.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aperiam perferendis ratione harum praesentium quasi eligendi sunt minus atque repellendus molestias deleniti ullam laudantium nihil, possimus ipsa laborum rerum placeat beatae iste. Autem tempora ea praesentium omnis, accusantium consectetur dicta ex odio nisi molestiae. Illum iusto quibusdam commodi saepe in.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni natus earum temporibus dolorem pariatur accusantium, aut consectetur quam, nobis eaque dolores tenetur ipsum unde vitae odit, cupiditate debitis ipsam nostrum provident? Aut distinctio, officia cumque recusandae mollitia explicabo cupiditate perspiciatis sunt inventore alias laboriosam quis vitae facilis a corrupti et debitis voluptatum consectetur ipsam quibusdam beatae nam libero, maiores sed? Amet unde ut cum porro quisquam! Rerum molestiae dolor temporibus quam dignissimos, quos expedita quae.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ducimus ea modi quas ad sit, eum reiciendis magnam, illo nesciunt recusandae quis minus perferendis ab? -->